{:force-ssl? false
   :compile-less? true
   :prod-assets? false
   :log-to-console? true
   :use-email-whitelist? true
   :bcc-audit-log? false
   :allow-mismatched-servername? true
   :register-twilio-callbacks? false
   :fetch-stripe-events false
   :send-librato-events? false

   :http-port 8080
   :https-port 8078
   :admin-http-port 9080
   :admin-https-port 9078

   :prod-domain "precursorapp.com"
   :hostname "localhost"
   :admin-hostname "localhost"

   :datomic-uri "datomic:mem://localhost:4334/prcrsr"
   :admin-datomic-uri "datomic:mem://localhost:4334/prcrsr-admin"

   :statsd-host "localhost" #_"10.99.0.104"

   :s3-region "us-west-2"

   :prcrsr-bot-email "prcrsr-bot@localhost"}
